<!doctype html>
{%extends"layout.html"%}
{%block body_content%}
        <div class = "container">
            <h2>About</h2>
            <div class = "scrollable">
                <!-- boy, I'm sure getting tired of writing the word flavour text... F L A V O U R  T E X T . . . -->
                <p>Written in reference to QAC - Fundamental Project Specification (DevOps Core) - revised edition. This project is for the purpose of fulfilling the specification definition for the project assignment due Week 5 of the DevOps February 17 2020 intake cohort.</p>
                <p>This website aims to demonstrate CRUD functionality for a many to many relational database system.</p>
            </div>
        </div>
{%endblock body_content%}